nishtyachki/Identity_test2/Service References/AdminAppService/AdminAppService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.UserInformtion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.UserInformtion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="tns:Role" />
      <xs:element minOccurs="0" name="_premiumEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_state" type="tns:UserCurrentState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueUser" nillable="true" type="tns:QueueUser" />
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="standart" />
      <xs:enumeration value="premium" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:simpleType name="UserCurrentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Offline" />
      <xs:enumeration value="Online" />
      <xs:enumeration value="InQueue" />
      <xs:enumeration value="AcceptingOffer" />
      <xs:enumeration value="UsingNishtiak" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserCurrentState" nillable="true" type="tns:UserCurrentState" />
  <xs:complexType name="ArrayOfQueueUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueUser" nillable="true" type="tns:QueueUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueUser" nillable="true" type="tns:ArrayOfQueueUser" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PremiumEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="tns:UserCurrentState" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>