nishtyachki/Identity_test2/Service References/AdminAppService/AdminAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.Nishtiachki" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.Nishtiachki" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AdminAppService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.UserInformtion" />
  <xs:complexType name="ArrayOfNishtiachok">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nishtiachok" nillable="true" type="tns:Nishtiachok" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNishtiachok" nillable="true" type="tns:ArrayOfNishtiachok" />
  <xs:complexType name="Nishtiachok">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:Nishtiachok_State" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UsersQueue.Queue.UserInformtion" minOccurs="0" name="owner" nillable="true" type="q1:QueueUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nishtiachok" nillable="true" type="tns:Nishtiachok" />
  <xs:simpleType name="Nishtiachok_State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="free" />
      <xs:enumeration value="locked" />
      <xs:enumeration value="wait_for_user" />
      <xs:enumeration value="in_using" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Nishtiachok_State" nillable="true" type="tns:Nishtiachok_State" />
</xs:schema>