nishtyachki/Identity_test2/Service References/AdminAppService/AdminAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IAdminAppService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AdminAppService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AdminAppService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminAppService_AddNishtiak_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNishtiak" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_AddNishtiak_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNishtiakResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_DeleteNishtiak_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNishtiak" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_DeleteNishtiak_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNishtiakResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_ChangeNishtiakState_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNishtiakState" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_ChangeNishtiakState_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNishtiakStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_DeleteUserByAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_DeleteUserByAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_SwitchQueueState_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchQueueState" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_SwitchQueueState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchQueueStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_SendMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_ChangeUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRole" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_ChangeUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_UpdateQueue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateQueue" />
  </wsdl:message>
  <wsdl:message name="IAdminAppService_UpdateNishtiachok_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateNishtiachok" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IAdminAppService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddNishtiak">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/AddNishtiak" message="tns:IAdminAppService_AddNishtiak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/AddNishtiakResponse" message="tns:IAdminAppService_AddNishtiak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteNishtiak">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/DeleteNishtiak" message="tns:IAdminAppService_DeleteNishtiak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/DeleteNishtiakResponse" message="tns:IAdminAppService_DeleteNishtiak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ChangeNishtiakState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/ChangeNishtiakState" message="tns:IAdminAppService_ChangeNishtiakState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/ChangeNishtiakStateResponse" message="tns:IAdminAppService_ChangeNishtiakState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteUserByAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/DeleteUserByAdmin" message="tns:IAdminAppService_DeleteUserByAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/DeleteUserByAdminResponse" message="tns:IAdminAppService_DeleteUserByAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SwitchQueueState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/SwitchQueueState" message="tns:IAdminAppService_SwitchQueueState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/SwitchQueueStateResponse" message="tns:IAdminAppService_SwitchQueueState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/SendMsg" message="tns:IAdminAppService_SendMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/SendMsgResponse" message="tns:IAdminAppService_SendMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ChangeUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminAppService/ChangeUserRole" message="tns:IAdminAppService_ChangeUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/ChangeUserRoleResponse" message="tns:IAdminAppService_ChangeUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateQueue">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/UpdateQueue" message="tns:IAdminAppService_UpdateQueue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateNishtiachok">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminAppService/UpdateNishtiachok" message="tns:IAdminAppService_UpdateNishtiachok_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IAdminAppService" type="tns:IAdminAppService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IAdminAppService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="AddNishtiak">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/AddNishtiak" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNishtiak">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/DeleteNishtiak" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeNishtiakState">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/ChangeNishtiakState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserByAdmin">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/DeleteUserByAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchQueueState">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/SwitchQueueState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserRole">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/ChangeUserRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQueue">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/UpdateQueue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNishtiachok">
      <soap12:operation soapAction="http://tempuri.org/IAdminAppService/UpdateNishtiachok" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminAppService">
    <wsdl:port name="NetNamedPipeBinding_IAdminAppService" binding="tns:NetNamedPipeBinding_IAdminAppService">
      <soap12:address location="net.pipe://localhost/AdminAppService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/AdminAppService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Artsiom_Marozau@minsk.epam.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>