nishtyachki/UsersQueue.Tests/Service References/UserAppService/UserAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserAppService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/UserAppService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/UserAppService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserAppService_InitUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InitUser" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_InitUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_TryStandInQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:TryStandInQueue" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_TryStandInQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryStandInQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_LeaveQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveQueue" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_LeaveQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_AnswerForOfferToUse_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerForOfferToUse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_StopUseObj_InputMessage">
    <wsdl:part name="parameters" element="tns:StopUseObj" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_StopUseObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_NotifyServerReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyServerReady" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_ShowMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_StandInQueue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StandInQueue" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_ShowPosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowPosition" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_OfferToUseObj_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OfferToUseObj" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_OfferToUseObj_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OfferToUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_NotifyToUseObj_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyToUseObj" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_NotifyToUseObj_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyToUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_DroppedByServer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DroppedByServer" />
  </wsdl:message>
  <wsdl:message name="IUserAppService_DroppedByServer_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DroppedByServerResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserAppService">
    <wsdl:operation name="InitUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/InitUser" message="tns:IUserAppService_InitUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/InitUserResponse" message="tns:IUserAppService_InitUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryStandInQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/TryStandInQueue" message="tns:IUserAppService_TryStandInQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/TryStandInQueueResponse" message="tns:IUserAppService_TryStandInQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/LeaveQueue" message="tns:IUserAppService_LeaveQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/LeaveQueueResponse" message="tns:IUserAppService_LeaveQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerForOfferToUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/AnswerForOfferToUse" message="tns:IUserAppService_AnswerForOfferToUse_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopUseObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/StopUseObj" message="tns:IUserAppService_StopUseObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/StopUseObjResponse" message="tns:IUserAppService_StopUseObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/Disconnect" message="tns:IUserAppService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/DisconnectResponse" message="tns:IUserAppService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServerReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/NotifyServerReady" message="tns:IUserAppService_NotifyServerReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/ShowMessage" message="tns:IUserAppService_ShowMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StandInQueue">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/StandInQueue" message="tns:IUserAppService_StandInQueue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowPosition">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/ShowPosition" message="tns:IUserAppService_ShowPosition_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OfferToUseObj">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/OfferToUseObj" message="tns:IUserAppService_OfferToUseObj_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/OfferToUseObjResponse" message="tns:IUserAppService_OfferToUseObj_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyToUseObj">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/NotifyToUseObj" message="tns:IUserAppService_NotifyToUseObj_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/NotifyToUseObjResponse" message="tns:IUserAppService_NotifyToUseObj_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DroppedByServer">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAppService/DroppedByServer" message="tns:IUserAppService_DroppedByServer_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAppService/DroppedByServerResponse" message="tns:IUserAppService_DroppedByServer_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserAppService" type="tns:IUserAppService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserAppService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InitUser">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/InitUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryStandInQueue">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/TryStandInQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveQueue">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/LeaveQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerForOfferToUse">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/AnswerForOfferToUse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopUseObj">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/StopUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyServerReady">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/NotifyServerReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/ShowMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StandInQueue">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/StandInQueue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowPosition">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/ShowPosition" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfferToUseObj">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/OfferToUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyToUseObj">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/NotifyToUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DroppedByServer">
      <soap12:operation soapAction="http://tempuri.org/IUserAppService/DroppedByServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAppService">
    <wsdl:port name="NetTcpBinding_IUserAppService" binding="tns:NetTcpBinding_IUserAppService">
      <soap12:address location="net.tcp://localhost/UserAppService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/UserAppService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Artsiom_Marozau@minsk.epam.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>