nishtyachki/nishtyachki/Service References/AdminApp/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://epbymogw0160.minsk.epam.com/AdminApp/Services/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://epbymogw0160.minsk.epam.com/AdminApp/Services/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DoAnotherWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAnotherWork" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DoAnotherWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAnotherWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_MyCallBack_InputMessage">
    <wsdl:part name="parameters" element="tns:MyCallBack" />
  </wsdl:message>
  <wsdl:message name="IWcfService_MyCallBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyCallBackResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_OpenSession_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenSession" />
  </wsdl:message>
  <wsdl:message name="IWcfService_OpenSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ShowMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/DoWork" message="tns:IWcfService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DoWorkResponse" message="tns:IWcfService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAnotherWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/DoAnotherWork" message="tns:IWcfService_DoAnotherWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DoAnotherWorkResponse" message="tns:IWcfService_DoAnotherWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyCallBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/MyCallBack" message="tns:IWcfService_MyCallBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/MyCallBackResponse" message="tns:IWcfService_MyCallBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/OpenSession" message="tns:IWcfService_OpenSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/OpenSessionResponse" message="tns:IWcfService_OpenSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/ShowMessage" message="tns:IWcfService_ShowMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAnotherWork">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DoAnotherWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyCallBack">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/MyCallBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenSession">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/OpenSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/ShowMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="NetTcpBinding_IWcfService" binding="tns:NetTcpBinding_IWcfService">
      <soap12:address location="net.tcp://localhost/AdminApp/Services/WcfService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/AdminApp/Services/WcfService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/EPBYMOGW0160.minsk.epam.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>