nishtyachki/nishtyachki/Service References/AdminApp/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://epbymogw0089.minsk.epam.com/AdminApp/Services/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://epbymogw0089.minsk.epam.com/AdminApp/Services/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_InitUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InitUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_InitUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_TryStandInQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:TryStandInQueue" />
  </wsdl:message>
  <wsdl:message name="IWcfService_TryStandInQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryStandInQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_LeaveQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveQueue" />
  </wsdl:message>
  <wsdl:message name="IWcfService_LeaveQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_AnswerForOfferToUse_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerForOfferToUse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_StopUseObj_InputMessage">
    <wsdl:part name="parameters" element="tns:StopUseObj" />
  </wsdl:message>
  <wsdl:message name="IWcfService_StopUseObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_NotifyServerReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyServerReady" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ShowMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:message name="IWcfService_StandInQueue_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StandInQueue" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ShowPosition_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowPosition" />
  </wsdl:message>
  <wsdl:message name="IWcfService_OfferToUseObj_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OfferToUseObj" />
  </wsdl:message>
  <wsdl:message name="IWcfService_OfferToUseObj_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OfferToUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_NotifyToUseObj_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyToUseObj" />
  </wsdl:message>
  <wsdl:message name="IWcfService_NotifyToUseObj_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyToUseObjResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DroppedByServer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DroppedByServer" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DroppedByServer_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DroppedByServerResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="InitUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/InitUser" message="tns:IWcfService_InitUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/InitUserResponse" message="tns:IWcfService_InitUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryStandInQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/TryStandInQueue" message="tns:IWcfService_TryStandInQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/TryStandInQueueResponse" message="tns:IWcfService_TryStandInQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/LeaveQueue" message="tns:IWcfService_LeaveQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/LeaveQueueResponse" message="tns:IWcfService_LeaveQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerForOfferToUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/AnswerForOfferToUse" message="tns:IWcfService_AnswerForOfferToUse_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopUseObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/StopUseObj" message="tns:IWcfService_StopUseObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/StopUseObjResponse" message="tns:IWcfService_StopUseObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Disconnect" message="tns:IWcfService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DisconnectResponse" message="tns:IWcfService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServerReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/NotifyServerReady" message="tns:IWcfService_NotifyServerReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/ShowMessage" message="tns:IWcfService_ShowMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StandInQueue">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/StandInQueue" message="tns:IWcfService_StandInQueue_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowPosition">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/ShowPosition" message="tns:IWcfService_ShowPosition_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OfferToUseObj">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/OfferToUseObj" message="tns:IWcfService_OfferToUseObj_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/OfferToUseObjResponse" message="tns:IWcfService_OfferToUseObj_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyToUseObj">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/NotifyToUseObj" message="tns:IWcfService_NotifyToUseObj_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/NotifyToUseObjResponse" message="tns:IWcfService_NotifyToUseObj_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DroppedByServer">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DroppedByServer" message="tns:IWcfService_DroppedByServer_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/DroppedByServerResponse" message="tns:IWcfService_DroppedByServer_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InitUser">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/InitUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryStandInQueue">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/TryStandInQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveQueue">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/LeaveQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerForOfferToUse">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/AnswerForOfferToUse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopUseObj">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/StopUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyServerReady">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/NotifyServerReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/ShowMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StandInQueue">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/StandInQueue" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowPosition">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/ShowPosition" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfferToUseObj">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/OfferToUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyToUseObj">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/NotifyToUseObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DroppedByServer">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DroppedByServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="NetTcpBinding_IWcfService" binding="tns:NetTcpBinding_IWcfService">
      <soap12:address location="net.tcp://epbymogw0089.minsk.epam.com/AdminApp/Services/WcfService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://epbymogw0089.minsk.epam.com/AdminApp/Services/WcfService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/EPBYMOGW0089.minsk.epam.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>